body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    padding-top: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#token-display {
    font-size: 2em;
}

button {
    margin: 10px;
}
